<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex justify-center items-center">
<div style="border: 1px solid black; width: 25%; margin: auto; margin-top: 50px;">
    <h1 style="text-align: center; ">
        Employee Details
    </h1>
    <div style="text-align: center;">
   <p>Employee Name: {{emp_data.name}}</p>
   <p>Role: {{emp_data.role}}</p>
   <p>Place: {{emp_data.place}}</p>
   <p>Salary: {{emp_data.salary}}</p>
   </div>
</div>    
</body>
</html>